@import "../styles/Variables.css";

nav {
    background-color: var(--bg-secondary);
    padding: 1rem;

    a {
        padding: 1rem;
        &:hover {
            background-color: var(--bg-primary);
        }
    }
}